/* Write your CSS here */

.container {
  background-color: #1e293b;
  font-family: 'Bree Serif';
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.heading {
  color: #f0bb03;
  font-weight: 1100;
  font-weight: bold;
  font-size: 60px;
}
.message {
  color: #ffffff;
  font-weight: 200;
}
.button {
  background-color: #ffffff;
  color: #1e293b;
  border: none;
  border-radius: 4px;
  height: 30px;
  width: 80px;
  cursor: pointer;
}
